html, body, main {
	margin: 0;
	padding: 0;
}

div.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	padding: 60px 0 0 60px;
	background-color: none;
	float: left;
}

#name {
	width: 150px;
	margin-bottom: 40px;
	font-family: sans-serif;
	font-weight: bold;
}

#nav {
	padding: 0;
}

#category {
	line-height: 20px;
	font-size: 12px;
}

#nameTitle,
#nameTitle:hover,
#nameTitle:active {
	text-decoration: none;
	color: black;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: gray;
	text-decoration: none;
	cursor: pointer;
}
a:active {
	color: #306021;
}

ul, li {
	list-style-type: none;
	font-family: sans-serif, Helvetica Neue;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
}

li {
	font-weight: bold;

}

ul {
	font-weight: 200;
	padding: 0;
}

#copyright {
	position: fixed;
	bottom: 20px;
	padding-left: 60px;
	font-size: 12px;
	font-weight: lighter;
}

.home {
	padding-top: 60px;
	overflow: hidden;
	margin-left: 250px;
}

img {
	width: 80%;

}

#floattext {
	width: 80%;
	height: 100%;
	padding-top: 30px;
	padding-left: 80px;
	position: absolute;
	z-index: 2;
	transition: linear 2s;
	background: rgba(255, 255, 255, 0.6);
}

#floattext p {
  animation: move-stop 2s ease-in-out;
}

.words {
  color: #444;
  font-size: 0;
}
.words span {
  font-size: 14px;
  display: inline-block;
  animation: move 5s ease-in-out infinite;
  word-spacing: 8px;
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
  opacity: 0;
}
.words span:nth-child(3) {
  animation-delay: 1s;
  opacity: 0;
}
.words span:nth-child(4) {
  animation-delay: 1.5s;
  opacity: 0;
}
@keyframes move {
  0% {
    transform: translate(-10px, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    /*text-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);*/
    opacity: 0;
  }
  100% {
    transform: translate(25px, 0);
    opacity: 0;
  }
}
@keyframes move-stop {
  0% {
    transform: translate(-30px, 0);
    opacity: 0;
    font-size: 0;
  }
  50% {
    opacity: 1;
    font-size: 1em;
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
    
  }
}


