html, body, main {
	text-align: center;
	margin: 0 auto;
	padding: 0;
	font-family: 'Merriweather', serif;
}
body {
  transition: background-color 2s cubic-bezier(1, 1, 1, 1);
  transition-delay: 0s;
}
div.menu {
}
a {
	text-align: left;
}
p {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
h1 {

}
#about-me {
	overflow: auto;
}
.me {
	width: 160px;
	display: flex;
	border-radius: 50%;
	float: left;
	margin-right: 30px;
}
h3 {
	border-bottom: 1px black;
	border-bottom-style: double;
	height: 1px;
	/*background: #333;*/
	/*background-image: linear-gradient(to right, #ccc, #333, #ccc);*/
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px !important;
	padding-bottom: 50px;
	line-height: 1rem;
}

#name {
	/*margin-top: 60px;*/
	font-weight: 200;
	text-align: left;
	font-size: 4em;
}

div.container {
	margin-bottom: 40px;
	text-align: left;
}
div.container-qt {
	margin: inherit;
	display: flex;
	flex-direction: row;
}
div.container-hf {
	width: 50%;
}
.container-info {
	min-width: 20%;
	max-width: 20%;
	margin-right: 40px;
	flex-basis: 25%;
}
div.container-summ {
	/*margin-left: 30px;*/
}
.container-title {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	padding-right: 0;
}
#title-links {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}
.dev-icon {
	width: 50px;
	height: 50px;
	transition: transform .2s ease-in-out;
}
.dev-icon:hover {
	/*transform: rotate(360deg);*/
	transform: scale(1.25, 1.25);
}
#clickable {
	text-align: right;
}

#nav {
	padding: 0;
}

#title-name,
#title-name:hover,
#title-name:active {
	text-decoration: none;
	color: black;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: gray;
	text-decoration: none;
	cursor: pointer;
}
a:active {
	color: #306021;
}

ul, li {
	list-style-type: none;
	font-family: sans-serif, Helvetica Neue;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
}

li {
	font-weight: bold;

}

ul {
	font-weight: 200;
	padding: 0;
}

#footer {
	/*position: fixed;*/
	/*bottom: 20px;*/
	padding-bottom: 20px;
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
}
